listen-address=127.0.0.1,MAC1_IP
bind-interfaces

no-resolv
server=COLLEGE_DNS
server=1.1.1.1

local=/TEAM.test/
host-record=app.TEAM.test,MAC2_IP
host-record=api.TEAM.test,MAC2_IP

domain-needed
bogus-priv
log-queries
